@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-primary-default: 20, 60, 60; /* 900 - #143c3c */
		--color-primary-50: 231, 249, 249; /* #e7f9f9 */
		--color-primary-300: 106, 131, 131; /* #6a8383 */
		--color-primary-400: 131, 161, 125; /* #83a17d */
		--color-primary-600: 77, 187, 154; /* #4dbb9a */
		--color-primary-900: 20, 60, 60; /* #143c3c */

		--color-burnt-orange-default: 167, 83, 37; /* #a75325 */
		--color-burnt-orange-500: 167, 83, 37; /* #a75325 */

		--color-text-default: 87, 93, 94; /* 500 - #575D5E */
		--color-text-200: 125, 129, 136; /* #7D8188 */
		--color-text-400: 106, 131, 131; /* #6a8383 */
		--color-text-500: 87, 93, 94; /* #575D5E */
		--color-text-800: 21, 36, 39; /* #152427 */

		--color-border-default: 196, 196, 196; /* 500 - #c4c4c4 */
		--color-border-500: 196, 196, 196; /* #c4c4c4 */
	}

	/* Dark theme colors */
	* {
		@apply transition-colors duration-300 ease-in-out;
	}

	@media (prefers-color-scheme: dark) {
		:root {
		}
	}

	/* Font family */
	html {
		@apply font-poppins text-text;
	}
}

@layer components {
	.container {
		@apply mx-auto w-[71.25rem] max-w-[calc(100%-3rem)];
	}
}
